body{
          background: lightgrey;
          font-family: 'poppins',sans-serif;
          display: flex;  
          justify-content: center;  
          align-items: center;  
          height: 100vh;  

}
.container{
          background: white;  
          padding: 20px 30px;  
          border-radius: 10px;
          width: 300px;  
          text-align: center; 
          box-shadow: lightgrey;  

}  
button{
          padding: 10px 10px;  
          background: green; 
          color: white;  
          border: none;  
          border-radius: 6px;  
          cursor: pointer;  

}  
button:hover{
          background: darkgreen;  

}  
input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}  
ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

li {
  background: #f0f0f0;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: red;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
}  


